.DetailmainContainer {
	background-color: #fff;
	width: 100%;
	padding-bottom: 66px;
}

.NewsTitle {
	box-sizing: border-box;
	padding: 40px 30px 30px;
}

h1 {
	font-size: 55px;
	margin-bottom: 20px;
}

.Reading {
	font-size: 36px;
	color: #999;
}

.ReadingTotal {
	margin-left: 30px;
}

.Newsmain {
	width: 100%;
}

.author {
	padding-top: 30px;
	padding-left: 30px;
}

.author img {
	width: 150px;
	height: 150px;
	border-radius: 75px;
}

.author span {
	font-size: 46px;
	margin-left: 30px;
}

.Article {
	padding: 25px;
}

.Article img {
	width: 100%;
}

.Article p {
	font-size: 48px;
	line-height: 66px;
	padding: 30px 0;
}

.Replies {
	width: 100%;
}

.AllReplies h2 {
	box-sizing: border-box;
	width: 100%;
	height: 80px;
	border-left: 10px solid #c80c00;
	font-size: 50px;
	line-height: 80px;
	padding-left: 30px;
}

.AllReplies li {
	box-sizing: border-box;
	border-top: 4px solid #e3e4e5;
	padding: 24px;
	width: 100%;
}
.AllReplies .yonghu{
	margin-bottom: 40px;
}
.AllReplies .yonghu a {
	display: block;
}

.AllReplies .yonghu img {
	float: left;
	width: 100px;
	height: 100px;
	border-radius: 50px;
	vertical-align: middle;
	
}

.AllReplies .yonghu .yonghuName {
	font-size: 46px;
	color: #444;
	margin-left: 15px;
	width: 60%;
	vertical-align: middle;
}

.AllReplies .yonghu .yonghuTimes {
	margin-left: 32px;
	color: #999;
	font-size: 36px;
}
.reply-content{
	box-sizing: border-box;
	width: 100%;
	padding-left: 100px;
	padding-bottom: 40px;
}
.reply-content span{
	font-size: 46px;
}
.reply-bt{
	box-sizing: border-box;
	width: 100%;
	padding-left: 100px;
	color: #999;
	font-size: 42px;
}
.reply-bt span{
	float: left;
}
.reply-bt #checkReply{
	float: right;
	color: #999;
}

#comment{
	position: fixed;
	right: 5%;bottom: 5%;
	width: 120px;height: 120px;
		
}
#comment .huifu{
	width: 120px;height: 120px;
	border-radius: 60px;
	background-color: rgba(224,27,27,0.8);
	font-size: 40px;
	text-align: center;
	line-height: 100px;
	color: #fff;
}
#comment form{
	width: 100%;
	height: 500px;
	position: fixed;
	left: 0;
	bottom: 0;
	background-color: #58bc58;
	display: none;
}

#comment #pinglun{
	width: 100%;
	height: 100%;
	font-size: 42px;
}

#comment #pinglunBtn{
	width: 120px;height: 88px;
	font-size: 40px;
	border-radius: 20px;
	background-color: rgba(224,27,27,1);
	position: absolute;
	color: #fff;
	right: 0;bottom: 0;
}
